{% extends 'blog/base.html' %}

{% block content %}
  <h2>{{ blog.title }}</h2>
  <p>{{ blog.content }}</p>
  <p><small>Creation date: {{ blog.blog_date }}</small></p>
  <h3>Comments ({{ comments.count }})</h3>

  {% if user.is_authenticated %}
    <div class="comment-form">
      <h4>Add comment</h4>
      <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Send</button>
      </form>
    </div>
    {% else %}
      <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to leave a comment
    {% endif %}

    <hr>

    <div class="comment-list">
      {% for comment in comments %}
        <div class="comment">
          <p>
            <strong>{{ comment.owner.username }}</strong>
            <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>
          </p>
          <p>{{ comment.text|linebreaksbr }}</p>
        </div>
        <hr>
        {% empty %}
          <p>No comments yet</p>
        {% endfor %}
    </div>
  <a href="{% url 'blog_list' %}">Back to the list of blogs</a>
{% endblock %}